<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/damia/IdeaProjects/selenium"><classes><class name="abstrakcyjna.KlasaAbstrakcyjnaTest"><methods><include name="testKlasyAbstrakcyjnej"/></methods></class><class name="com.travelers.tests.SearchHotelTest"><methods><include name="searchHotelTest"/></methods></class><class name="dziedziczenie.TestDziedziczenia"><methods><include name="testDziedziczenia"/></methods></class><class name="interfejs.InterfejsTest"><methods><include name="interfejsTest"/></methods></class><class name="kolekcje.Lista"><methods><include name="testListy"/><include name="testLinkedListy"/></methods></class><class name="kolekcje.Mapy"><methods><include name="testMapy"/></methods></class><class name="kolekcje.Sety"><methods><include name="testSetow"/></methods></class></classes></test></suite>